:root {
    --cor-fundo: #DB8812;
    --cor-primaria: #DB6612;
    --cor-secundaria: #DB4212;
    --cor-branca: #fff;
    --font-family: 'Inter', sans-serif;
}

body {
    padding: 4rem;
    background-color: var(--cor-fundo);
    font-family: var(--font-family);
    display: flex;
    font-weight: 600;
    flex-direction: column;
    text-align: center;
}

body h1 {
    font-size: 3rem;
}

body h3 {
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

body .mensagem {
    background-color: rgba(0, 0, 0, .2);
    color: var(--cor-branca);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
    border: 5px solid var(--cor-primaria);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
body .mensagem div {
    padding: 2rem;
}

body .mensagem .box {
    padding: 1.5rem;
    border: 2.5px solid var(--cor-primaria);
    border-radius: 16px;
}